// OLD spec http://jsbin.com/dokolijole/2/edit?html,css,outpu
.alignbox{
	display: flex;
	box-sizing: border-box;
	align-items: stretch;

	&-item{
		display: block;
		flex: 1 0 auto;

		&--top{
			align-self: flex-start;
		}

		&--middle{
			align-self: center;
		}

		&--bottom{
			align-self: flex-end;
		}

	}
}
