// Generated on 2014-12-09 using generator-dp 0.0.1

.form{
	fieldset{
		margin-bottom: 1rem;
		border-bottom: 1px solid $cLight;
		&:last-child{
			border: 0;
		}
	}
	legend{
		font-size: 1.275rem;
		margin-bottom: .5rem;

		span{
			font-size: 0.938rem;
			font-weight: 400;
			line-height: 1.2;
			display: block;
			margin-top: .45rem;
			color: rgba($cDark, .8);
		}
	}
	.legend-sub{
		font-size: 0.838rem;
		font-weight: 400;
		line-height: 1.2;
		display: block;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	hr{
		border: 0;
		height: 1px;
		width: 100%;
		background: $cLight;
		margin: 1.5rem 0 2rem;
	}

	.label-success{
		color: $cSuccess;
	}
	.label-danger{
		color: $cError;
	}
}


.form-group{
	&--inline{
		display: inline-block;
	}
	&--inline-content{
		margin-top: 26px;
	}

	&--double-height{
		textarea{
			min-height: 8.9em;
		}
	}

	&--triple-height{
		textarea{
			min-height: 13em;
		}
	}
	&--poem-height{
		textarea{
			min-height: 33em;
		}
	}
}

.form-group{
	textarea{
		resize:vertical;
	}
}

.side-label{
	position: absolute;
	left: 100%;
	min-width: 100%;
	margin-left: 15px;
	top: 1.863rem;
	font-size: 0.813rem;
	font-weight: normal;
}

.form-group{
	margin-bottom: 1rem;
	position: relative;


	&.has-error{
		color: $cError;
		.form-control{
			border-color: $cError;
		}
	}
}
.control-label{
	font-size: 0.913rem;
	font-weight: 600;
	// color: $cDark;
	display: inline-block;
	margin-bottom: .6rem;
	&--inline{
		display: inline-block;
	}
}
.inside-label{
	position: relative;
	display: inline-table;
	vertical-align: middle;
	&:before{
		display: block;
		content: '';
		clear: both;
		width: 100%;
	}

	span{
		display: table-cell;
		color: black;
		border-width: 1px 0 1px 1px;
		border-style: solid;
		border-color: $cBorder;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		font-weight: bold;
		font-size: .8rem;
		padding: .5rem .8rem .5rem .5rem;
		width: auto;
		min-width: 90px;
	}
	input.form-control{
		display: table-cell;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		min-width: 300px;
		margin-left: 0;
		-webkit-appearance: textfield;
	}
}
.toggle-label{
	font-size: 0.938rem;
	font-weight: 700;
	display: inline-block;
	float: left;
	margin-right: 1.4rem;
	min-width: 5rem;
	@include mobile{
		float: none;
		display: block;
	}
}

.help-block{
	font-size: .875rem;
	margin-top: 5px;
	opacity: .8;
}