// Generated on 2014-10-10 using generator-dp 0.0.1
.typo-heading-1{
	font-size: 1.875rem;
	font-family: $fContentBold;
	margin-bottom: 1.5rem;
	line-height: 1em;
}

.typo-heading-2{
	font-size: 1.375rem;
	font-family: $fContentBold;
	margin-bottom: 1rem;
	padding-top: .7rem;
	line-height: 1em;
}
.typo-heading-3{
	font-size: 1.2rem;
	font-family: $fContentBold;
	margin-bottom: 1rem;
	line-height: 1em;
}

.typo-heading-4{
	font-size: 1rem;
	font-family: $fContentBold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	line-height: 1em;
}
.typo-heading-5{
	font-size: 1rem;
	font-family: $fContentBold;
	margin-bottom: 1rem;
	line-height: 1em;
}

.typo-color-green{
	color: $cGreen;
}
.typo-color-red,
.typo-color-error{
	color: $cError;
}
.typo-scale-25{font-size: .25em !important;}
.typo-scale-50{font-size: .50em !important;}
.typo-scale-75{font-size: .75em !important;}
.typo-scale-80{font-size: .80em !important;}
.typo-scale-90{font-size: .90em !important;}
.typo-scale-150{font-size: 1.5em !important;}
.typo-scale-200{font-size: 2.0em !important;}