html{
}
html,
body{
	//height: 100%; evil
}
body{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	margin: 0;
	line-height: 1.1em;
	position: relative;
	font-family: $fDefault;
	color: $cDefault;
	font-size: 16px;
}

p{
	line-height: 1.4em;
	margin-bottom: 1em;
}
hr{
	height: 1px;
	border: 0;
	background: $cBorder;
	margin-bottom: 1rem;
}

a{
	color: $cLink;
	text-decoration: none;
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}
}
img{
	max-width: 100%;
}
strong{
	font-family: $fContentBold;
	font-weight: normal;
}
em{
	font-family: $fContentItalic;
	font-style: normal;
}
small{
	font-size: .7em;
}

// *{
// 	transition:
// 		transform 250ms $easingDefault,
// 		color 250ms $easingDefault,
// 		background-color 250ms $easingDefault,
// 		border-color 250ms $easingDefault,
// 		opacity 250ms $easingDefault;
// }

:focus{
	outline: 0;
}

.touch.Safari{
	input, textarea, select{
		font-size: 16px !important;
		-webkit-appearance: none;
	}
}
