// FONT FACES & dimension
// ---------------------------------------------- /
$fArial:		arial, Helvetica, sans-serif;
$fTimes:		'Times New Roman', serif;
$fDefault: 	$fArial;
$fSize:		16px;


$fSansLight: OpenSansLight, $fArial;
$fSansRegular: OpenSansRegular, $fArial;
$fSansSemibold: OpenSansSemibold, $fArial;
$fSansBold: OpenSansBold, $fArial;
$fSansItalic: OpenSansItalic, $fArial;
// $fSansBoldItalic: $fOpensansBoldItalic;

$fSerifRegular: $fTimes;
// ...

// FONTS - ALIASES
// ---------------------------------------------- /
$fContent: $fDefault;
$fContentBold: $fArial;
$fContentSemibold: $fArial;
$fContentItalic: $fArial;

// COLOR NAMES
// ---------------------------------------------- /
$cDark: #666;
$cLight: #aaa;
$cLighter: #ddd;
$cYellow: #cfb500;
$cRed: #db5757;
$cBlue: #0072bc;
$cGreen: #007233;

// COLOR THEME
// ---------------------------------------------- /
$cPrimary: $cRed;
$cSecondary: $cBlue;

	// COLORS - ELEMENTS
	// ------------------------------------------ /
	$cDefault: $cDark;
	$cLink: $cRed;
	$cBorder: $cRed;
	$cPlaceholder: $cLighter;


	// COLORS - MESSAGES
	// ------------------------------------------ /
	$cInfo: #0072BB;
	$cWarning: #EE6D29;
	$cWarningLight: #cfb500;
	$cError: #a00;
	$cSuccess: $cGreen;

// COLORS - SOCIAL & BRANDS
// ---------------------------------------------- /
$cFacebook: #3b5998;
$cTwitter: #00acef;
$cGoogle: #db3f1c;
$cYotube: #cd201f;
$cPinterest: #c91618;
$cInstagram: #2a5b83;
$cLinkedin: #0076b2;

// DIMENSIONS
// ---------------------------------------------- /

$siteWidth:	1170px;
$inputHeight: 36px;
$gutterWidth: 15px;

// EASINGS
// ---------------------------------------------- /
$easingDefault: cubic-bezier(0.395, 0.425, 0.015, 1);
$e: $easingDefault;