//- IMPORTS
block subpage_data
include _shared
include dopamine/dp-doc
include dopamine/dp-head
include dopamine/dp-snippets-inline
include dopamine/dp-vendor

//- LAYOUT
+dp_doc('html5', 'en-US')
head
	+dp_head_meta_charset()
	+dp_head_meta_chromeframe()
	+dp_head_title(dp.page.title, dp.project.name)
	+dp_head_meta_description(dp.page.description)
	+dp_head_meta_keywords(dp.page.keywords)
	//- +dp_head_meta_viewport()

	+dp_head_author()

	//- Comment out if you have these files in site's root folder
	+dp_head_favicon('ico','images/favicons/favicon.png')
	+dp_head_favicon('apple-touch-icon-precomposed','images/favicons/favicon.png', '152x152')
	+dp_head_favicon('ms-application','images/favicons/favicon.png', '#FFFFFF')

	//- link(rel='stylesheet', href='public/css/bundle-libs.css')
	link(rel='stylesheet', href='css/main.css')

	//- +dp_vendor('modernizr')

body(class=dp.page.class).is-loading
	div(style="position:absolute;height:0;width:0;visibility:hidden;overflow:hidden;")
		include ../../dist/svg/svg.svg
	//- +dpsn_oldies()

	// COMMON HEADER
	header(header,class=dp.page.header_class,background=dp.page.header_image).header
		.header-bar
			.header-bar-inner
				.logo
					a(href="#") LOGO HERE
				nav.mainmenu.hidden-xs
					ul
						li
							a(href="page1.html")
								span Item 1
						li
							a(href="page2.html")
								span Item 2
								svg.has-sameHeight
									use(xlink:href="#chevron-down")
							ul
								li
									a(href="page2-sub-1.html") Subitem 1
								li
									a(href="page2-sub-2.html") Subitem 2
								li
									a(href="page2-sub-3.html") Subitem 3
				nav.mainmenu
					ul
						li
							a(href="tel:1234")
								svg
									use(xlink:href="#call")
								span.hidden-xs + 1234 342 34
				nav.mainmenu
					ul
						li
							a(mobilemenu-handler, href="javascript:;")
								span Menu
								svg
									use(xlink:href="#menu")

		+mobilemenuContent()

		.header-content
			.header-content-inner
				block header_content
	// END OF COMMON HEADER



	// PAGE CONTENT
	block content
	// END OF PAGE CONTENT



	// COMMON FOOTER
	h1 Footer
	ul
		li
			a(href="http://disneyland.com") External link test

	script.
		_App_ = {};
		_App_.propFromServer = 'JOLO!';

	script(src='scripts/vendor.js')
	script(src='scripts/application.common.js')

	block subpage_scripts


//- +dpsn_google_analytics('UA-XXXX-X')

