extends _layout

block subpage_data
	- dp.page.title = "Home"
	- dp.page.slug = "home"
	- dp.page.class = "l-home"
	- dp.page.description = "Dopamine is a lightweight Node app to ease sitebuilding with modular Jade templates and Stylus"
	- dp.page.keywords = "dopamine,sitebuild,jade,stylus"

block content
	| content jsdfas f